body,
html {
    background-color: #f8f8fd;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0px;
}

.navbar a:link {
    color: #2a2937;
    text-decoration: none;
}

.navbar a:visited {
    color: #2a2937;
    text-decoration: none;
}

.navbar a:active {
    color: #2a2937;
    text-decoration: none;
}

.navbar {
    background-color: #f8f8fd;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    /* Offset by the width of the navbar */
    width: calc(100% - 60px);
    /* Take the remaining width */
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 1000;
}

.nav-left {
    width: fit-content;
}

.nav-right {
    width: fit-content;
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.final {
    width: 150px;
    height: 28px;
    margin-right: 30px;
}

.other-works {
    width: 150px;
    height: 28px;
    margin-right: 30px;
}

.weekly-assignments {
    width: 230px;
    height: 28px;
}

.navbar .logo {
    color: #2a2937;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar a {
    color: #2a2937;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

}

.nav-right a:hover {
    font-size: 23px;
    font-weight: 420;
    transition: all 0.3s ease-in-out;
}

.navbar a:visited {
    color: #2a2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    /* Offset by the width of the navbar */
    width: calc(100% - 160px);
    /* Take the remaining width */
    padding-top: 150px;
    margin-bottom: 150px;
    max-width: 2000px;
}

.home-left {
    width: 40%;
    transform: translateY(50px);
}

.home-right {
    width: fit-content;
}

.title-1 {
    color: #2a2937;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.title-2 {
    color: #2a2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.title-3 {
    color: #2a2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.title-4 {
    color: #2a2937;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

.home-button {
    margin-top: 60px;
    width: 200px;
    height: 60px;
    background-color: #f56f69;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    border-radius: 20px;
}

.home-button:hover {
    width: 220px;
    height: 65px;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.profile {
    width: 500px;
    height: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    /* Offset by the width of the navbar */
    width: calc(100% - 60px);
    /* Take the remaining width */
    margin-bottom: 60px;
}

.project-title {
    margin-bottom: 30px;
}

.project-flex {
    display: flex;
}

.project-content {
    margin-bottom: 60px;
    width: 80%;
}

.title-3a {
    margin-bottom: 20px;
    color: #2a2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.placeholder {
    width: 500px;
    height: auto;
}

.project-right {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.weekly-container {
    margin-left: 80px;
    margin-right: 80px;
    /* Offset by the width of the navbar */
    width: calc(100% - 160px);
}

.weekly-container ul {
    list-style-type: none;
    padding-inline-start: 5px;
    margin-top: 50px;
}

.weekly-list {
    margin-bottom: 30px;
    color: #2a2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 26px;
}

.weekly-list a:link {
    color: #2a2937;
    text-decoration: none;
}

.weekly-list a:visited {
    color: #2a2937;
    text-decoration: none;
}

.weekly-list a:active {
    color: #2a2937;
    text-decoration: none;
}

.weekly-list :hover {
    font-size: 22px;
    font-weight: 420;
    transition: all 0.3s ease-in-out;
}

.management-container {
    margin-left: 300px;
    margin-right: 300px;
    /* Offset by the width of the navbar */
    width: calc(100% - 600px);
    padding-top: 150px;
}

.footer {
    border-top: #b6b5b5 1px solid;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    /* Offset by the width of the navbar */
    width: calc(100% - 160px);
    padding-bottom: 20px;
}

.footer div {
    margin-top: 20px;
    color: #2a2937;
}

.week3-img {
    margin-top: 30px;
    max-width: 1086px;
    height: auto;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
}

.dropdown a {
    margin-top: 10px;
    padding-left: 5px;
    height: 30px;
}

#dropdown-container:hover .dropdown {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.title-3 a {
    text-decoration: underline;
}

.footer-1 {
    border-top: #b6b5b5 1px solid;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    /* Offset by the width of the navbar */
    width: calc(100% - 60px);
    padding-bottom: 20px;
}

.footer-1 div {
    margin-top: 20px;
    color: #2a2937;
}

.content-part {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-paragraph {
    line-height: 150%;
    margin-bottom: 20px;
    color: #2a2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.content-img img {
    max-width: 1000px;
}

.code {
    background-color: #211e2f;
    color: aliceblue;
    Overflow-x: scroll;
    Overflow-y: scroll;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 600px) {

    .project-flex {
        flex-direction: column;
    }

    .project-right img {
        width: 90%;
    }

    /* Adjust font size for smaller screens */
    .navbar {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .home-container {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse !important; 
    }

    .weekly-container {
        margin-left: 25px;
        margin-right: 25px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-left {
        width: 90%;
    }

    .home-right img {
        margin-top: 50px;
        width: 250px;
    }

    .weekly-list {
        margin-bottom: 30px;
        color: #2a2937;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: 26px;
    }

    .weekly-list :hover {
        font-size: 15px;
        font-weight: 420;
        transition: all 0.3s ease-in-out;
    }

    .nav-right a:hover {
        font-size: 13px;
        font-weight: 420;
        transition: all 0.3s ease-in-out;
    }

    .final a {
        font-size: 12px;
    }

    .final {
        width: 60px;
        height: 14px;
        margin-right: 1px;
    }

    .other-works a{
        font-size: 12px;
    }


    .other-works {
        width: 60px;
        height: 28px;
        margin-right: 1px;
    }

    .weekly-assignments a {
        font-size: 12px;
    }

    .weekly-assignments {
        width: 80px;
        height: 28px;
    }

    .navbar .logo {
        color: #2a2937;
        font-family: Inter;
        font-size: 11px;
        width: 100px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    /* Adjust management container for smaller screens */
    .management-container {
        width: 90%;
        margin: 0 auto;
    }

    /* Adjust font size for smaller screens */
    .title-1 {
        font-size: 16px;
    }

    .title-2 {
        font-size: 15px;
    }

    .title-3a,
    .title-3,
    .text-paragraph {
        font-size: 14px;
    }

    .content-img img {
        max-width: 100%;
        height: auto;
    }

    .code {
        width: 90%;
    }

    video {
        width: 90%;
    }

    /* Adjust other styles as needed */
    .footer-1 div {
        margin-top: 20px;
        font-size: 14px;
        color: #2a2937;
    }
}

 /* CSS for iPads */
 @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust navbar for iPads */
    .project-right img {
        width: 90%;
    }

    .navbar {
        width: 100%;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }

    .home-right img {
        width: 350px;
    }

    .nav-right a:hover {
        font-size: 15px;
        font-weight: 420;
        transition: all 0.3s ease-in-out;
    }

    .weekly-list {
        margin-bottom: 30px;
        color: #2a2937;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 26px;
    }

    .weekly-list :hover {
        font-size: 17px;
        font-weight: 420;
        transition: all 0.3s ease-in-out;
    }

    .final a {
        font-size: 14px;
    }

    .final {
        width: 80px;
        height: 14px;
        margin-right: 1px;
    }

    .other-works a{
        font-size: 14px;
    }


    .other-works {
        width: 80px;
        height: 28px;
        margin-right: 1px;
    }

    .weekly-assignments a {
        font-size: 14px;
    }

    .weekly-assignments {
        width: 130px;
        height: 28px;
    }

    .navbar .logo {
        color: #2a2937;
        font-family: Inter;
        font-size: 14px;
        width: 100px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .content-img img {
        max-width: 100%;
        height: auto;
    }

    /* Adjust management container for smaller screens */
    .management-container {
        width: 90%;
        margin: 0 auto;
    }

    /* Adjust font size for smaller screens */
    .title-1 {
        font-size: 16px;
    }

    .title-2 {
        font-size: 15px;
    }

    .title-3a,
    .title-3,
    .text-paragraph {
        font-size: 14px;
    }

    .content-img img {
        max-width: 100%;
        height: auto;
    }

    .code {
        width: 90%;
    }

    video {
        width: 90%;
    }

    .footer-1 div {
        margin-top: 20px;
        font-size: 14px;
        color: #2a2937;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1560px) {
    /* Adjust navbar for iPads */

    .content-img img {
        max-width: 100%;
        height: auto;
    }

    /* Adjust management container for smaller screens */
    .management-container {
        width: 90%;
        margin: 0 auto;
    }

    /* Adjust font size for smaller screens */

    .content-img img {
        max-width: 100%;
        height: auto;
    }

    .code {
        width: 90%;
    }

    video {
        width: 90%;
    }

    .footer-1 div {
        margin-top: 20px;
        font-size: 18px;
        color: #2a2937;
    }
}